.footer-wrapper{
    display: flex;
    justify-content: center;
    background-color: black;
}

.footer-links{
    display: flex;
    padding-top: 25px;
    
    
}

.github-logo{
    font-size: 100px;
    color: white;
    padding: 0px 20px 0px 0px;
}

.angellist-logo{
    font-size: 100px;
    color: white;
}

.linkedin-logo{
    font-size: 100px;
    color: white;
}

.copyright{
    font-family: serif;
    font-size: 10px;
    color: white;
    padding: 105px 0px 0px 850px;
}

.greeting-logo-links{
    padding-top: 386px;
    display: flex;
    padding-top: 25px;
    background-color: black;
    justify-content: center;
}

