.header-container {
  box-shadow: -1px 0px 0px 0px black, 1px 0px 0px 0px black;
  width: 1440px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
  
}

.header-logo {
    display: flex;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.header-container li {
  padding: 35px 0px 20px 30px;
}

.header-list {
     display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color: grey
}

.header-logo {
  display: flex;
  padding: 40px;
  font-weight: 700;
}

// .header-list {
//   display: flex;
//   font-size: 11.5px;
//   color: #777777;

//   // justify-content: space-between;
// }

// #menu-icon {
//   color: black;
//   font-size: 15px;
//   transition: scale 2s;
// }

// #menu-icon:hover {
//   transform: scale(1.3)
// }
.header-discover{
    text-decoration: none;
    transition: .5s;
    color: grey
}

.header-shopall{
    text-decoration: none;
    transition: .5s;
    color: grey
}

.header-search{
    // padding: 20px;
    font-size: 20px;
    text-decoration: none;
    transition: .5s;
    color: grey;

}

.header-bars{
    text-decoration: none;
    transition: .5s;
    color: grey;
    font-size: 30px;
    padding: 20px;
}

.header-discover:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color:black;
    transition: .5s;
    cursor: pointer;

}

.header-shopall:hover {
  color: black;
  text-decoration: underline;
  font-size: 14px;
  font-family: 'Arimo', sans-serif;
  transition: .5s;
  cursor: pointer;

}

.header-search:hover {
    color: grey;
    transition: .5s;
    cursor: pointer;
}

.header-bars:hover{
    color: grey;
    transition: .5s;
    cursor: pointer;
}