.header-nav {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    width: 97%;
    border-bottom: 1px solid lightgrey;
    padding: 25px 40px 40px 25px;
    background-color: white;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color: grey
}

.header-logo {
    display: flex;
    font-size: 22px;
    text-decoration: none;
    color: black;
    padding: 10px 50px 0px 50px;
    font-family: serif;
    letter-spacing: 8px;
}

.header-discover{
    text-decoration: none;
    transition: .5s;
    color: grey;
}

.header-shopall{
   text-decoration: none;
    transition: .5s;
    color: grey;
   
}


.header-search{
    // padding: 20px;
    font-size: 15px;
    text-decoration: none;
    transition: .5s;
    color: gray;
    
    // padding: 20px 10px 0px 0px;

}

.header-bars{
    text-decoration: none;
    transition: .5s;
    color: grey;
    font-size: 15px;
    padding: 20px 45px 0px 0px;
}

.header-discover:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color:black;
    transition: .5s;
    cursor: pointer;

}

.header-shopall:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color:black;
     cursor: pointer;

}

.header-search:hover {
    color: grey;
    transition: .5s;
    cursor: pointer;
}

.header-bars:hover{
    color: grey;
    transition: .5s;
    cursor: pointer;
}