.header-nav {
   display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    width: 1260px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    padding: 31px 90px 31px 90px;
  
}

.header-logo {
    display: flex;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.header-container li {
  padding: 35px 0px 20px 30px;
}

.header-list {
     display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color: grey
}

.header-logo {
  display: flex;
  padding: 40px;
  font-weight: 700;
}

// .header-list {
//   display: flex;
//   font-size: 11.5px;
//   color: #777777;

//   // justify-content: space-between;
// }

// #menu-icon {
//   color: black;
//   font-size: 15px;
//   transition: scale 2s;
// }

// #menu-icon:hover {
//   transform: scale(1.3)
// }
.header-discover{
    text-decoration: none;
    transition: .5s;
    color: grey
}

.header-shopall{
   text-decoration: none;
    transition: .5s;
    color: grey
}

.header-search{
    // padding: 20px;
    font-size: 20px;
    text-decoration: none;
    transition: .5s;
    color: grey;

}

.header-bars{
    text-decoration: none;
    transition: .5s;
    color: grey;
    font-size: 30px;
    padding: 20px;
}

.header-discover:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color:black;
    transition: .5s;
    cursor: pointer;

}

.header-shopall:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color:black

}

.header-search:hover {
    color: grey;
    transition: .5s;
    cursor: pointer;
}

.header-bars:hover{
    color: grey;
    transition: .5s;
    cursor: pointer;
}