.modal-background {
  display:flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  justify-content:flex-end;   

}

// .modal-child {
//   // position: absolute;
//   // top: 60%;
//   // left: 94%;
//   // transform: translate(-50%, -50%);
//   // height: 100%;
// }



.loginsignupbuttons{
  display: flex;
  align-self: center;
}

.logout-button{
  cursor: pointer;
  border: none;
  background-color: white;
  letter-spacing: 1px;
  text-decoration: underline;
}

.logout-message{
  color: gray;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 3px;
}


.modal-content {
  // display: flex;
  // background-color: #fefefe;
  // padding: 20px;
  // border: 1px solid #888;
  // width: 300px; 
  // height: 100%;
   display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 350px;
    max-width: 70%;
    transform: none;
    z-index: 1;
    opacity: 1;
    overflow-x: hidden;
    background: rgb(255, 255, 255);

}

.button{
  width: 100%
}

.login-signup{
  display: flex;
  align-content: center;
}

.logout-session{
  border-bottom: 1px solid lightgray;
  padding: 14px 0px 14px 20px;
}
// .greeting-wrapper{
//   border-bottom: 1px solid lightgray;
//   padding: 16px 0px 16px 16px;

// }
.logingreeting{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    border-right: 1px solid gray;
    padding: 5px 5px 5px 0px;
    color: black;
    flex-direction: row;
    display: flex;
    padding-top: 8px;
    
}

.signupgreeting{
  
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 5px 5px 5px 5px;
    flex-direction: row;
    display: flex;
    padding-top: 8px;
   
}

.logingreeting,
.signupgreeting{
  text-decoration: underline;
}
.modal-background-order {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  //  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}

.modal-child-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}


.modal-background1 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}

.modal-link {
    display: flex;
    align-items: center;
    height: 50px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 8px 24px;
    border-bottom: 1px solid rgb(222, 222, 222);
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.modal-link-collection {
    display: flex;
    align-items: center;
    height: 50px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 8px 24px;
    // border-bottom: 1px solid rgb(222, 222, 222);
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.collection-link-container{
      display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
}

.arrow-modal{
    margin-top: 28px;
    margin-right: 28px;
    color: lightgray;

}

.modal-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.collection-link-container:hover{
  cursor: pointer;
  text-decoration: underline;
}