.modal-background {
  display:flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  justify-content:flex-end;

}

// .modal-child {
//   // position: absolute;
//   // top: 60%;
//   // left: 94%;
//   // transform: translate(-50%, -50%);
//   // height: 100%;
// }



.loginsignupbuttons{
  display: flex;
  align-self: center;
}

.logout-button{
  cursor: pointer;
  border: none;
  background-color: white;
  letter-spacing: 1px;
  text-decoration: underline;
}

.logout-message{
  color: gray;
  font-size: 20px;
  letter-spacing: 1px;
}


.modal-content {
  display: flex;
  background-color: #fefefe;
  // margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Could be more or less, depending on screen size */
  height: 100%;
  // vertical-align: right;
}

.button{
  width: 100%
}

.login-signup{
  display: flex;
  align-content: center;
}

.logout-session{
  padding-top: 300px;
}
.greeting-wrapper{
  display: flex;
  padding-top: 300px;
  padding-bottom: 300px;

}
.logingreeting{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    border-right: 1px solid gray;
    padding: 5px 5px 5px 5px;
    color: black;
    flex-direction: row;
    display: flex;
    padding-top: 8px;
    
}

.signupgreeting{
  
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 5px 5px 5px 5px;
    flex-direction: row;
    display: flex;
    padding-top: 8px;
   
}

.logingreeting,
.signupgreeting{
  text-decoration: underline;
}

.modal-background1 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}