.show-page-container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    padding: 10%;
    justify-content: space-around;

}

.show-page-shoe-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid lightgray;
    border-top-left-radius: 50px;
    width: 80%;
    font-size: 25px;
}

.product-show-image{
    width: 80%;
}

.right-show{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 80%;
}


.show-page-name{
    font-size: 30px;
    justify-content: center;
    width: 80%;
    padding: 10%
}

.description-container{
    text-align: center;
    padding-bottom: 100px;
    // font-family: Plain;
    // font-size: 20px;
    width: 800px;
}

.product-details{
    line-height: 1.5;
    font-family: Plain;
    font-size: 20px;
    padding-bottom: 10px;
}

.show-page-container{
    line-height: 1.5;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.left-right-show{
    display: flex;
    justify-content: space-between;
    margin: 60px auto 30px auto;
    width: 100%;
    height: 600px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

