.kobe-logo-container{
  position: relative;
  text-align: center;
  color: white;
}

.kobe-image{
    width: 100%;
    height: 800px;
}

.yeezy-index-image{
    width: 100%;
    height: 80%;
}

.kobe-text{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 50px;
  padding-bottom: 1%;
//   font-weight: 100px;
  padding-left: 5%;
//   font-family: Arial, Helvetica, sans-serif;
    // align-self: center;
}

.travis-text{
  position: absolute;
  bottom: 30px;
  left: 16px;
  font-size: 50px;
  padding-bottom: 1%;
  color: black;
  padding-left: 5%;

}

// .kobe-button{
//     background-color: white;
// }

.sneaker-container{
 text-decoration: none;
}

.sneaker-info{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  margin-top: -1px;
  margin-left: -1px;
  font-size: 15px;
  text-decoration: none;
}

.sneaker-indexitem{
display: flex;
    /* flex-flow: wrap row; */
    justify-content: space-around;
    text-align: center;
    /* position: relative; */
    /* margin: 0px 10%; */
    font-family: sans-serif;
    text-transform: uppercase;
    flex-direction: column;
    font-size: 11px;
    padding: 3rem;
    letter-spacing: 1px;
    /* padding-top: 10%; */
    width: 200px;
    border: 1px solid lightgray;
    height: 230px;
}
.sneaker-indexitem:hover{
  outline: 3px solid lightgray
}
.release-date{
   padding-top: 10px;
    /* text-decoration: none; */
    color: black;
    font-size: 15px;
}

.product-image{
width: 165px;
    /* height: 110px; */
    /* padding-left: 8px; */
    /* padding-top: 29px; */
    margin-left: 8px;
    margin-top: 42px;
}

.sneaker-name{
       padding-top: 10%;
    font-family: serif;
    /* justify-content: center; */
    width: 90%;
    text-decoration: none;
    color: black;
    margin-left: 13px;
    font-size: 14px;
  
}

.product-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // padding-bottom: 5%;
    padding: 0px 60px 5% 60px;
}

.product-header{
    display: flex;
    font-size: 40px;
    justify-content: center;
    padding: 5%;
    // border: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

// .main-product-header{
//     display: flex;
//     font-size: 40px;
//     justify-content: center;
//     padding: 5%;
//     margin-top: -200px;
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
// }

.shopall-header{
    display: flex;
    font-size: 40px;
    justify-content: center;
    padding: 150px 0px 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.carousel-title{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

// .carousel-photo{
//   // width: 100px;
//   // background-color: blue;
// }

.carousel-bar{
  width: 100%;
  // background-color: yellow;
}

.carousel-shoe-photo{
  width: 180px;
  height: 100px;
  // width: 195px;
  // height: 110px;
  display: flex;
  justify-content: center;
  margin-right: 65px;
}

.carousel-shoe-name{
  display: flex;
  // justify-content: center;
  padding-left: 10%;
  padding-top: 5%;
  width: 50%;
  justify-content: center;
  text-align:center;
  color: black;
}

.carousel-box{
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  outline: none;
}

.carousel-box:hover{
   text-decoration: underline;
   cursor: pointer;
   color: black;
  
}

.sneaker-info:hover{
   text-decoration: underline;
   cursor: pointer;
   color: black;
  //  outline: none;
}

.details-carousel-container{
  border: 1px solid lightgray;
  width: 100%;
  // outline: none;
}

// .sneaker-container:hover{
//    text-decoration: underline;
//    cursor: pointer;
//    color: black;
// }

.slideshow-container{
  padding-top: 90px;
}




