.show-page-container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
    border-right: none;
    // height: 80%;

}

.show-page-shoe-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid lightgray;
    border-top-left-radius: 50px;
    // min-width: 600px;
    // max-width: 600px;
    width: 100%;
    font-size: 25px;
 
}

.product-show-image{
    width: 80%;
}

.right-show{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: none;
    min-width: 600px;
    max-width: 600px;
    padding-bottom: 17px;

}

//  display: flex;
//   position: relative;
//   flex-direction: column;
//   min-width: 630px;
//   max-width: 630px;
//   border-left: 1px solid black;

.show-page-name{
    font-size: 30px;
    justify-content: center;
    width: 80%;
    padding-top:30%;
    padding-left: 10%;
    padding-bottom: 47%;
}

.description-container{
    text-align: center;
    padding-bottom: 50px;
    width: 800px;
}

.product-details{
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 20px;
}

.show-page-container{
    line-height: 1.5;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.left-right-show{
    display: flex;
    justify-content: space-between;
    margin: 60px auto 30px auto;
    width: 100%;
    height: 600px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.showpage-buttons{
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.buy-new-button{
    position: absolute;
    bottom: 0;
    width: 50%;
    text-align: center; 
    font-size: 12px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding: 15px 0px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

.buy-used-button{
    border-top: 1px solid lightgray;
    position: absolute;
    border-bottom: none;
    border-right: none;
    border-left: none;
    text-align: center; 
    color: lightgray;
    bottom: 0;
    right: 0;
    width: 50%;
    font-size: 12px;
    padding: 15px 0px;
    outline: none;
    border-radius: 4px;
}

.buy-new-button:hover{
    cursor: pointer;
    text-decoration: underline;
}

.buy-used-button:hover{
    cursor: pointer;
    text-decoration: underline;
}

.details-carousel-container{
    display: flex;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    outline: none;
}

.details-carousel{
    display: flex;
    width: 100%;
    text-align: center;
    outline: none;
}

// .detail-carousel-box{
//    padding-bottom: 10px;
// }

.detail-name{
    // font-size: 100px;
    width: 100%;
    font-size: 12px;
    color: gray;
   justify-content: center;
    // align-self: center;
}

.detail-description{
    padding-top: 10px;
    font-size: 16px;
    justify-content: center;
    width: 100%;
  
    // align-items: center;
}


