.review-container{
    // padding-top: 100px;
    display: flex;
    // flex-direction: column;
    // align-items: center;
    border: 1px solid lightgray;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    // max-width: 900px;
    // min-width: 900px;
    justify-content: center;
    // align-items: center;
   
}
.create-review-form{
    padding-left: 10%;
    padding-top: 43px;
    padding-right: 10%;
    padding-bottom: 14px;

}
.single-review-username{
    // text-transform: uppercase;
    font-size: 15px;
}

.reviews{
    width: 100px;
    height: 311px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    // padding-top: 10px;
    padding-bottom: 10px;
    // padding-left: 50px;
    // padding-right: 50px;
    justify-content: space-around;
    max-width: 450px;
    min-width: 450px;
    line-height: 1.5;
    padding-left: 100px;
    padding-right: 100px;
}

textarea{
  max-width: 350px;
  min-width: 350px;
  max-height: 70px;
  min-height: 70px;
}

.review-title{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    // padding-top: 30px;
}

.single-review-desc{
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}

.single-review-username{
     font-size: 15px;
    font-family: 'Oswald', sans-serif;
}

.single-review-rating{
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}

.signin-review{
    display: flex;
    border: 1px solid lightgray;
    padding-top: 100px;
    padding-left: 170px;
    padding-right: 100px;
    height: 170px;
    width: 330px;
    font-size: 20px;
}

.create-review-container{
       display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    // padding-left: 10%;
    // padding-right: 10%;
    justify-content: space-around;
    max-width: 450px;
    min-width: 450px;
    border-right:none;
    padding-left: 100px;
    padding-right: 100px;
}

.form-title{
    font-size: 20px;
     font-family: 'Oswald', sans-serif;
    padding-bottom: 10px;
    padding-left: 125px;
}
.form-desc-input{
    padding-bottom: 15px;
}

.form-rating-input{
    padding-bottom: 15px;
}

.form-desc{
    font-family: 'Oswald', sans-serif;
     padding-top: 20px;
      padding-bottom: 5px;
}

.form-rating{
    font-family: 'Oswald', sans-serif;
     padding-top: 20px;
      padding-bottom: 5px;
}


.right-pane-review{
    display: flex;
    // padding-right:80px;
    flex-direction: column;
    padding: 15px;
}

.review-buttons{
    padding: 15px;
}

.review-delete{
    border-radius: 4px;
    padding-bottom: 25px;
}

.review-title-container{
    padding-top: 10px;
    // position: fixed;
}

.single-review-container{
    display: flex;
    flex-direction: row;
}

.no-review-message{
    padding-bottom: 60px;
}